* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  margin: 30px;
  padding-bottom: 20px;
  font-size: 60px;
  text-align: center;
  color: #333;
  border-bottom: solid orchid;
}

main {
  display: flex;
  justify-content: center; 
}

.start-button {
  display: flex;
  justify-content: center;
}

.wrongRight {
  display: flex;
  justify-content: center;
}

button {
  font-size: 25px;
  font-weight: 600;
  border-radius: 8px;
  padding: 10px;
  margin: 30px;
  background-color: orchid;
  color: #333;
}

button:hover {
  background-color: rgb(255, 139, 251);
}

input {
  font-size: 25px;
  border-radius: 8px;
  margin: 30px;
  padding: 10px;
}

h3 {
  color: orchid;
  text-align: center;
}

h2 {
  font-size: 30px;
  color: #333;
  margin: 25px;
}

ul {
  list-style: none;
}

li {
  font-size: 25px;
  background-color: orchid;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
}

li:hover {
  background-color: rgb(255, 139, 251);
}
