* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
    margin: 30px;
    font-size: 60px;
    text-align: center;
    color: crimson;
}

main {
    display: flex;
    justify-content: center;
}

.btn {
    font-size: 25px;
    font-weight: 600;
    border-radius: 8px;
    padding: 10px;
    margin: 30px;
    background-color: crimson;
}

.btn:hover {
    background-color: rgb(247, 24, 69);
}